{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron">
    <h2>The Movie Recommendation App</h2>
    <p>Rotten Tomatoes tells us the percentage of critics that gave a "good" review for a movie. Critic consensus does not always mean we will enjoy a movie as movies are subjective just like critics and individuals.</p>
    <p>What if there was an app that only showed us critics we personally agreed with?</p>
    <p><a class="btn btn-lg btn-primary" href="/films">2017 Movies</a></p>
  </div>
  <hr>
  <div class="container">
  	<h3>Placeholder for user to like/dislike movies</h3>
  </div>

{% endblock %}